# Python example

In [2]:
1+1

2

In [3]:
print("hello")

hello

In [ ]:
#Python is case sensitive
name="darshan"
Name="jain"
print(name+" "+Name)

darshan jain

In [9]:
#syntax: line continuation

total=1+2+3+4+7+\
4+5+6+7
print(total)

39

In [10]:
##Understanding setmantics in python

#1 variable assignment
age=19  #numerical
name="darshan"    #string

In [11]:
type(age)

int

In [12]:
type(name)

str

In [13]:
# declaring the variables

name="darshan"
age=20
height=5.9
is_student=True


#printing the variable

print("age :",age)
print("name :" ,name)

age : 20
name : darshan

In [14]:
#naming conventions
#variable names hould be descriptive
#they must start with a letter or an '_' and contains letter  numbers and unserscores
#variables name case sensitive

first_name="Darshan"
last_name="Jain"

In [15]:
#Varibale types
##python is dynamically types, type of variable is determined at runtime

age=25
height=5.9
name="darshan"
is_student=True

print(type(name))

<class 'str'>

In [16]:
print(type(height))

<class 'float'>

In [18]:
#type conversion
print(type(age))
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [19]:
age='25'
print(type(int(age)))

<class 'int'>

In [20]:
int(height)

5

In [22]:
##Dynamic typing
##python allows the type of variable to chagne as the program executes


var=10  #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.145
print(var,type((var)))

10 <class 'int'>
Hello <class 'str'>
3.145 <class 'float'>

In [24]:
## input

age=int(input("What is the age?"))
print(age,type(age))

19 <class 'int'>

In [26]:
#simple calculator

num1=float(input("Enter the 1st number: "))
num2=float(input("Enter the 2st number: "))

sum=num1+num2
diff=num1-num2
product=num1*num2
quotient=num1 / num2

print("Sum:" ,sum)
print("Diff: " ,diff)
print("Product :" ,product)
print("Quotient :" ,quotient)

Sum: 53.0
Diff:  33.0
Product : 430.0
Quotient : 4.3

In [28]:
#Data types

type(age)

int

In [29]:
#floating point data type

height=5.9
print(type(height))

<class 'float'>

In [31]:
##string
print(name)
print(type(name))

darshan
<class 'str'>

In [37]:
## boolean datatype

is_true=True
type(is_true)

bool

In [36]:
a=10
b=10

type(a==b)

bool

# nested else if

In [7]:
num=int(input("enter the number:"))

if num>0:
    print("the number is positive!!")
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

else:
    print("the number is negative or zero!!")

the number is negative or zero!!

In [19]:
##determine if a year is leap year using nested conditional statement 

year=int(input("Enter the year of birth:"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print("You were born in leap year", year)
        else:
            print("You were not born in leap year", year)
    else:
        print("You were born in leap year", year)

else:
    print("You were not born in leap year", year)

You were born in leap year 2024

In [24]:
#simple calc 
num1=float(input("Enter the 1st number:"))
num2=float(input("Enter the 2nd number:"))

operation=input("Enter the operations(+,-,*,/) :")

#calc

if operation=='+':
    result=num1+num2
elif operation=='-':
    result=num1-num2
elif operation=='*':
    result=num1*num2
elif operation=='/':
    if num2!= 0:
        result=num1/num2
    else:
        print("INVALID!")
else:
    result="none selected !"

print("Result:",result)

Result: 57.0

In [30]:
##determine the price of ticket on the based of the age whether the person is student.

age=int(input("Enter your age:"))
is_student=input("are you a student (yes/no):").lower()

if age<5:
    price = "FREEE!!"
elif age>=5 and age<=12:
    price = "10rs"
elif age>=13 and age<18:
    price="20rs"
elif age>=18:
    if is_student == 'yes':
        price="35rs"
    else:
        price ="30rs"

print("Price is:" ,price)

Price is: 30rs

# loops

In [34]:
for i in range(1,5):
    print(i)

1
2
3
4

In [39]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [43]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [45]:
## strings

str="darshan jain"

for i in str:
    print(i)

d
a
r
s
h
a
n

j
a
i
n

In [51]:
##while loop(continues as long as long the condition is true)

count=0

while count<=15:
    print(count)
    count=count+2

0
2
4
6
8
10
12
14

In [52]:
while count%2==0:
    print(count)
    count=count+1

16

In [54]:
#loop control statements
#break

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [55]:
#continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [58]:
#pass(null operation)

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [60]:
#nested loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [61]:
##examples(calculate the sum of 1st natural numbers sing foe / while loop)

#while loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of 1st 10 natural numbers are :",sum)

sum of 1st 10 natural numbers are : 55

In [63]:
#for loop

n=10
sum=0

for i in range(11):
    sum=sum+i
print("sum of 1st 10 natural numbers are :",sum)

sum of 1st 10 natural numbers are : 55

In [67]:
#prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97