# Functions in python
Function is a block of code that performs a specific task . Helps in organizing code , reusing code and improving readability

In [1]:
##syntax

def function(parameters):
    """Docstring"""
    #function body
    return expression

In [ ]:
def even_odd(num):
    """This functions finda even or odd"""
    if num%2==0:
        print("Number is even")
    else:
        print("Number is odd")

In [3]:
#calling the function
even_odd(24)

Number is even

In [4]:
#function with multiple parameters

def add(a,b):
    """Add function"""
    return a+b

In [5]:
add(7,8)

15

In [ ]:
#Default parameters

def greet(name):
    print(f"Hello {name} Welcome to The")

greet('Darshan')

Hello Darshan Welcome to The Paradise

In [15]:
#Default

def greet(name="Guest"):
    print(f"Hello {name} Welcome to The Paradise")

greet()

Hello Guest Welcome to The Paradise

In [17]:
### Variable length Arguments
#Position and key word arguments

def print_num(*darshan):
    for number in darshan:
        print(number)

print_num(1,2,3,4,5,6,7,8,9,10,"Darshan")

1
2
3
4
5
6
7
8
9
10
Darshan

In [18]:
#Positional argumments
def print_num(*args):
    for number in args:
        print(number)

print_num(1,2,3,4,5,6,7,8,9,10,"Darshan")

1
2
3
4
5
6
7
8
9
10
Darshan

In [23]:
#Key word arguments(all the keys / parameters will be in the form of key value pairs)

def print_detail(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [24]:
print_detail(name="Darshan",age="21",country="India")

name:Darshan
age:21
country:India

In [27]:
def print_detail(*args,**kwargs):
    for val in args:
        print(f"Positional arguments : {val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [28]:
print_detail(1,2,3,4,5,name="Darshan",age="21",country="India")

Positional arguments : 1
Positional arguments : 2
Positional arguments : 3
Positional arguments : 4
Positional arguments : 5
name:Darshan
age:21
country:India

In [29]:
#Example
#1  Temperature conversion

def temp_converter(temp,units):
    """"This function converts temperature between celsius and farhenite"""
    if units=='C':
        return temp*9/5 +32 ##Celsius to Farhenite
    elif units=='F':
        return (temp-32)*5/9    ##Farhenite to Clesius
    else:
        return None

In [32]:
print(temp_converter(25,'C'))
print(temp_converter(77,'F'))

77.0
25.0

In [33]:
#2 Passwords strength cjecker

def is_strong_pass(password):
    """This function checks the strength of passwords"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_' for char in password):
        return False
    return True

In [34]:
is_strong_pass("Darshan@134dvc!")

True

In [35]:
is_strong_pass("Qddcwyew")

False

In [41]:
##3 Calculate the total cost of items in a shopping cart


def total_cost_of_cart(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    
    return total_cost


#example cart data
cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.7,'quantity':9},
    {'name':'Berries','price':0.8,'quantity':6}
]


#function calling
total_cost_of_cart(cart)

13.100000000000001

In [44]:
#4 checking if the string is palindrome

def check_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(check_palindrome("A man a plan a canal Panama"))
print(check_palindrome("holla"))

True
False

In [45]:
#5 Factorial using recursion

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

In [46]:
factorial(5)

120

In [54]:
#6 to read the and count the freq of each word

def count_words(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('!?/\:;"')
                word_count[word]=word_count.get(word,0)+1

    return word_count

file_path='hello.txt'
word_frequency=count_words(file_path)
print(word_frequency)

{'hello': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 1, 'name': 2, 'is': 2, 'darshan': 1, 'k': 1, 'jain': 1, 'what': 1, 'your': 1}

<>:9: SyntaxWarning: invalid escape sequence '\:'
<>:9: SyntaxWarning: invalid escape sequence '\:'
C:\Users\PINKY\AppData\Local\Temp\ipykernel_43972\858500663.py:9: SyntaxWarning: invalid escape sequence '\:'
  word=word.lower().strip('!?/\:;"')