## dictionaries are unordered collection of items. they store data in key value pairs. Keys must be unique and immutable (e.g:- strins,numbers or tuples)while values can be of any type

In [1]:
## creating dictionaries

empty_dict={}
type(empty_dict)

dict

In [4]:
student={"name":"darshan","age":21,"garde":"A"}
print(student)
print(type(student))

{'name': 'darshan', 'age': 21, 'garde': 'A'}
<class 'dict'>

In [6]:
##single key is always used

student={"name":"darshan","age":21,"name":"A"}
print(student)

{'name': 'A', 'age': 21}

In [9]:
#accessing the dict

student={"name":"darshan","age":21,"grade":"A"}
print(student)
print(type(student))

{'name': 'darshan', 'age': 21, 'grade': 'A'}
<class 'dict'>

In [11]:
print(student['grade'])

A

In [12]:
print(student['age'])

21

In [13]:
##accessig the values using default "get" method

print(student.get('grade'))
print(student.get('age'))
print(student.get("last_name"))

A
21
None

In [14]:
print(student.get('grade'))
print(student.get('age'))
print(student.get("last_name","Not availabe"))

A
21
Not availabe

## dictionaries are mutable but key needs to be unique

In [15]:
## Modifying dict elements
print(student)

{'name': 'darshan', 'age': 21, 'grade': 'A'}

In [ ]:
student["age"]=22           #updated the value
student["address"]="Mumbai ,India"              #added the new key
print(student)

{'name': 'darshan', 'age': 22, 'grade': 'A', 'address': 'Mumbai ,India'}

In [21]:
##delete the grade key

del student['grade']
print(student)

{'name': 'darshan', 'age': 22, 'address': 'Mumbai ,India'}

In [25]:
## Dictionary methods

keys=student.keys()     #keys
print(keys)
values=student.values()         #values
print(values)
items=student.items()                   #key-value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['darshan', 22, 'Mumbai ,India'])
dict_items([('name', 'darshan'), ('age', 22), ('address', 'Mumbai ,India')])

In [26]:
##  Shallow copy

student_copy=student

In [27]:
print(student_copy)
print(student)

{'name': 'darshan', 'age': 22, 'address': 'Mumbai ,India'}
{'name': 'darshan', 'age': 22, 'address': 'Mumbai ,India'}

In [28]:
student['name']="DARSHAN123"
print(student)
print(student_copy)

{'name': 'DARSHAN123', 'age': 22, 'address': 'Mumbai ,India'}
{'name': 'DARSHAN123', 'age': 22, 'address': 'Mumbai ,India'}

#to avoid this we use shallow copy where the changes are not done on the new variable/dict

In [30]:
student_copy1=student.copy()
print(student_copy1)
print(student)

{'name': 'DARSHAN123', 'age': 22, 'address': 'Mumbai ,India'}
{'name': 'DARSHAN123', 'age': 22, 'address': 'Mumbai ,India'}

In [31]:
student["name"]="Darshan"
print(student)
print(student_copy1)

{'name': 'Darshan', 'age': 22, 'address': 'Mumbai ,India'}
{'name': 'DARSHAN123', 'age': 22, 'address': 'Mumbai ,India'}

both the values of name are diff

In [32]:
##iterating over dict
#you can use loops to iterate over dict,keys,values,items

for key in student.keys():
    print(key)

name
age
address

In [34]:
## iterate over values
for value in student.values():
    print(value)

Darshan
22
Mumbai ,India

In [35]:
#iterate over key-value pairs

for key,value in student.items():
    print(f"{key}:{value}")

name:Darshan
age:22
address:Mumbai ,India

In [38]:
## nested dictionaries
students={
    "student1":{"name":"darshan","age":21},
    "student2":{"name":"kavish","age":18}
}

print(students)

{'student1': {'name': 'darshan', 'age': 21}, 'student2': {'name': 'kavish', 'age': 18}}

In [40]:
##accessing the nested dict

print(students["student2"]["name"])
print(students["student2"]["age"])

kavish
18

In [41]:
## iterating over the nested dict

for student_id ,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'darshan', 'age': 21}
name:darshan
age:21
student2:{'name': 'kavish', 'age': 18}
name:kavish
age:18

In [42]:
##dictionary comprehension

square={x:x**2 for x in range(5)}

In [43]:
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [45]:
##conditional dictionary comprehension

even={x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [48]:
## practical examples

#use a dict to count the freq of elements in list

numbers=[1,1,1,1,2,2,2,3,3,3,4,4]
freq={}

for number in numbers:
    if number in freq:
        freq[number]+=1
    else:
        freq[number]=1
print(freq)

{1: 4, 2: 3, 3: 3, 4: 2}

In [50]:
##merge 2 dict in one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}

merge={**dict1,**dict2}
print(merge)

{'a': 1, 'b': 3, 'c': 4}